* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header .logo {
    position: relative;
    max-width: 160px;
}

.logo-pic {
    border-radius: 450px;
}

header ul {
    position: relative;
    display: flex;
}



.navbarMenu .active {
    background: red;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
}


header ul li {
    list-style: none;
}
header ul li a {
    display: inline-block;
    color:#666;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    
}
header ul li a::after {
    border-bottom: 3px solid transparent;
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%; /* Change this to whatever width you want. */
}
header ul li a:hover::after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%; /* Change this to whatever width you want. */
    
    border-bottom: 3px solid #d4af37; /* This creates the border. Replace black with whatever color you want. */
}
header ul li a:hover{
    
    background-color: #c3a45a;
    background-image: linear-gradient(to top, #cc0e74 0%, #777 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}



.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}


.content .textBox {
    position: relative;
    max-width: 650px;
}

.content .textBox h2 {
    color: #333;
    font-size: 5em;
    line-height: 1.4em;
    font-weight: 500;
    font-family: 'Patrick Hand', cursive;
}

.content .textBox span {
    color: #c3a45a;
    font-size: 1.2em;
    font-weight:  900;
    font-family: 'Shadows Into Light', cursive;
}


.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #c3a45a;
    color: #fff;
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 650px;

}
.thumb {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50%;
    bottom: 78px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 80px;
}
.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li {
    list-style: none;
}

.fab {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    color: #555;
}

.fa-facebook:hover {
    color: #3B5998;
}
.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.fa-whatsapp:hover {
    color: #25d366;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    clip-path: circle(600px at right 800px);
}
/* Gallery */
#gallery {
    background: linear-gradient(to left, rgb(204, 149, 192), rgb(219, 212, 180), rgb(122, 161, 210));
}
.row {
    margin-bottom: 10px;
}

.preview-box {
    position: fixed;
    max-width: 700px;
    width: 100%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%) scale(0.9);
    background: #dbd4b4;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    padding: 0 5px 5px 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(41, 39, 39, 0.2);
}

.preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 50%) scale(1);
    transition: all 0.3s ease;
}
.preview-box .details {
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
}
.preview-box .details .icon {
    color: rgb(122, 161, 210);
    cursor: pointer;
}
.preview-box .img-box {
    display: flex;
    width: 100%;
}
.preview-box 
.img-box 
img {
    width: 100%;
    border-radius: 500px;
}

.img-box .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #d4af37;
    z-index: 3;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.img-box .slide.prev {
    left: 0;
}
.img-box .slide.next {
    right: 0;
    
}
.details .title {
    display: flex;
    font-size: 19px;
}
.details .title p {
    margin: 0 5px;
}
.details .title p.current-img {
    font-weight: 600;
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(7,7,7, 0.8);
    display: none;
}


@media (max-width: 991px) {
    header {
        padding: 20px;
    }
    header .logo {
        
        max-width: 135px;
    }
    header ul {
        display: none;
        
    }
    header ul li a{
        margin-left: 0;
    }

    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url('img/menu.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    .toggle.active {
        position: fixed;
       
        background: url('img/close.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 22;
    }
    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        background: linear-gradient(to top, #cc95c0, #dbd4b4, #7aa1d2);
        z-index: 3;
        font-size: 4rem;
    }

    section {
        padding: 20px 20px 120px;
        width: 100%;
    }
    .content {
        flex-direction: column;
        margin-top: 100px;
        width: 97%;
    }
    .content .textBox h2 {
        margin-bottom: 15px;
        font-size: 2.5em;
    }
    .content .textBox {
        max-width: 100%;
    }
    .content .imgBox img {
        max-width: 274px;
        max-height: 280px;
        justify-content: center;
    }
    .content .imgBox {
        padding: 12px;
    }
    .circle {
        clip-path: circle(400px at center bottom);
    }
    .fa-4x {
        font-size: 3em;
    }
    .thumb {
        left: 33%;
        bottom: 20px;
    }
    .thumb li img {
        max-width: 50px;
    }
    .content .imgBox {
        width: 350px;
        margin-top: 3px;
    }
    .thumb li {
        margin: 50px 20px;
    }

    .logo-pic {
        height: 110px;
    }


}